@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: '微软雅黑', "Microsoft YaHei", "arial";
}
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    font-size: 100%;
}
input {
    font-family: '微软雅黑', "Microsoft YaHei", "arial";
    border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    height: 0;
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.clearfix {
    zoom: 1;
}
* html .clearfix {
    zoom: 1;
}
*:first-child + html .clearfix {
    zoom: 1;
}
.clear {
    clear: both;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.hide {
    display: none;
}
.center {
    margin: 0px auto;
}
.fixed {
    position: fixed;
}
.orange {
    color: #f00;
}
.left { float: left; }
.right { float: right; }
/*****************************************公共样式*****************************************/
html, body {
    width: 100% !important;
    height: auto !important;
    min-width: 800px;
    min-height: 800px;
    color: #fff;
    background: url(../images/bodybg.png);
    background-size: cover;
    overflow-x: hidden;
}
/*header being*/
.header {
    width: 63%;
    min-width: 722px;
    margin: 0px auto;
}
.header-top {
    padding-top: 20px;
}
.header-top .fulllogo {
    min-width: 191px;
    height: 63px;
    background: url(../images/fulllogotest.png) no-repeat;
}
.header-top .header-search {
    margin-left: 8%;
    margin-top: 1.5%;
}
.header-search .header-searchbar {
    width: 336px;
    height: 32px;
    text-indent: 5px;
    background: url(../images/search.png) no-repeat;
    float: left;
}
.header-search .header-searchbtn {
    width: 32px;
    height: 32px;
    background: url(../images/searchbtn.png) no-repeat;
    cursor: pointer;
    float: left;
}
.header-top .header-right {
    margin-top: 1.5%;
}
.rbs {
    min-width: 45px;
}
.rbs:hover .rbsub {
    display: block;
}
.rbicon {
    text-align: center;
    cursor: pointer;
}
.rblogin {
    width: 20px;
    height: 20px;
    background: url(../images/rblogin.png) no-repeat;
}
.rbloginb:hover .rblogin {
    background: url(../images/rbloginh.png) no-repeat;
}
.rbiconpic {
    margin: 0px auto;
}
.rbtext {
    color: white; font-size: 11px;
}
.rbs:hover .rbtext {
    color: #4d516f;
}
.rbreg {
    width: 20px;
    height: 20px;
    background: url(../images/rbreg.png) no-repeat;
}
.rbregb:hover .rbreg {
    background: url(../images/rbregh.png) no-repeat;
}
.header .navs {
    min-height: 50px;
    margin-top: 35px;
}
.navs .header-home {
    display: block;
    min-width: 55px;
    min-height: 50px;
    background: url(../images/home.png) no-repeat;
}
.navs .navul {
    width: 90%;
}
.navs .navul li {
    width: 10%;
    min-width: 60px;
    height: 48px;
    padding: 1px;
    margin-left: 1.8%;
    font-size: 14px;
    text-align: center;
    line-height: 48px;
    float: left;
}
.navs .navul li div {
    padding: 1.18% 1.5%;
}
.navul li div a {
    color: #fff;
}
.navs .navul li.active {
    background-color: rebeccapurple;
    border: none;
    filter: alpha(opacity=40); /*IE滤镜，透明度50%*/
    -moz-opacity: 0.4; /*Firefox私有，透明度50%*/
    opacity: 0.4; /*其他，透明度50%*/
}
.navs .navul li:hover {
    padding: 0;
    border: 1px solid #fff;
}
.navs .navul li a:hover {
    color: #fff;
}
.ibline {
    min-width: 800px;
    min-height: 3px;
    background: url(../images/ibline.png);
    background-size: cover;
}
/*header end*/
/*footer begin*/
.footer {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 35px;
    background-color: #000;
    text-align: center;
}
.footer-content {
    width: 655px;
    margin: 0 auto;
    padding-bottom: 29px;
    text-align: left;
}
.footer-item {
    padding-left: 16px;
    margin-right: 90px;
    border-left: 1px solid #232333;
}
.footer-item h2 {
    margin-bottom: 14px;
    font-size: 18px;
    font-style: normal;
    color: #fff;
}
.footer-help {
    padding-top: 10px;
}
.footer-help a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}
.footer-qqs {
    min-width: 122px;
}
.footer-qqsitem {
    display: block;
    width: 70px;
    height: 37px;
    margin-top: 17px;
    padding-left: 52px;
    color: #fff;
    font-size: 14px;
    line-height: 37px;
}
.footer-qqsitem:hover {
    color: #fff;
}
.footer-qqsone {
    background: url(../images/footer_qqone.png) no-repeat;
}
.footer-qqstwo {
    background: url(../images/footer_qqtwo.png) no-repeat;
}
.footer-ewm {
    display: table;
    width: 244px;
    height: 124px;
    background: url(../images/footer_ewmbg.png) no-repeat 85px top;
}
.footer-ewmbox {
    width: 112px;
    height: 112px;
    padding: 6px;
    background: url(../images/footer_ewmbox.png) no-repeat;
}
.footer-ewmbox img {
    display: block;
    width: 112px;
    height: 112px;
}
.footer-ewmtxt {
    display: table-cell;
    width: 121px;
    height: 124px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.footer-ewmtxt span {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}
.footer-ewmtxt i {
    font-style: normal;
    font-size: 16px;
}
.footer > p {
    font-size: 14px;
    color: #232333;
}
/*footer end*/
/*分页 begin*/
.pagenation {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
.pagenow {
    width: 100%;
    height: 28px;
    margin: 0 -1px 5px 10px;
    padding: 4px 15px;
    line-height: 28px;
    font-size: 14px;
    border-radius: 2px 0 0 2px;
    background-color: #f00;
}
.pagelink_b, .pagelink_a {
    padding: 4px 15px;
    height: 28px;
    line-height: 28px;
    margin: 0 10px 5px 10px;
    font-size: 14px;
    background: #232323;
    border-radius: 2px 0 0 2px;
    width: 100%;
    height: 100%;
    color: #4d516f;
}
.pagebtn {
    height: 28px;
    margin: 0 -1px 5px 0;
    padding: 0px 6px;
    line-height: 28px;
    font-size: 14px;
    background: #232323;
    color: #4d516f;
    cursor: pointer;
}
.pagego {
    height: 28px;
    padding: 0 15px;
    margin: 0 -1px 5px 10px;
    font-size: 14px;
    line-height: 28px;
    border-radius: 2px 0 0 2px;
    color: #4d516f;
}
/*分页 end*/
/*弹出层 being*/
.vodpop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
.vodpop .popbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.vodpop-container {
    position: absolute;
    left: 50%;
    top: 50%;
}
.vodpop-main {
    position: relative;
}
.vodpop-closebtn {
    display: block;
    position: absolute;
    cursor: pointer;
}
/*登录、注册弹框*/
.lrpop {
    width: 871px;
    height: 434px;
    margin-left: -435.5px;
    margin-top: -217px;
}
.lrpop .lrpop-main {
    width: 100%;
    height: 100%;
}
.lrpop-main .lrpop-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 871px;
    height: 434px;
}
.lrpop-main .lrpop-closebtn {
    top: 0;
    right: -30px;
    width: 16px;
    height: 16px;
    background: url(../images/pop_closebtn.png) no-repeat;
}
.lrpop-main .lrpop-tab {
    position: relative;
    padding-left: 79px;
    padding-top: 59px;
    z-index: 80;
}
.lrpop-tab .lrpop-tabtitle {
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
}
.lrpop-tabtitle span {
    display: block;
    padding-bottom: 6px;
    margin-right: 20px;
    cursor: pointer;
}
.lrpop-tabtitle .lrpop-tabcurrent {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}
.lrpop-tabmain .lrpop-form {
    display: none;
}
.lrpop-form .lrpop-input {
    display: block;
    width: 270px;
    height: 39px;
    font-size: 14px;
    background: url(../images/lrpop_inputbg.png) no-repeat;
}
.lrpop-input input {
    width: 270px;
    height: 37px;
    padding: 1px 0;
    color: #7e83a6;
    text-indent: 36px;
}
.lrpop-input input::-webkit-input-placeholder {
    color: #7e83a6;
}
.lrpop-input input:-moz-placeholder {
    color: #7e83a6
}
.lrpop-input input::-moz-placeholder {
    color: #7e83a6;
}
.lrpop-input input:-ms-input-placeholder {
    color: #7e83a6;
}
.lrpop-account {
    background: url(../images/logrepop_account.png) no-repeat 11px center;
}
.lrpop-password {
    background: url(../images/logrepop_password.png) no-repeat 11px center;
}
.loginpop-remember-check span {
    display: block;
    height: 16px;
    margin-right: 7px;
    line-height: 16px;
    color: #fff;
    float: left;
}
.loginpop-remember-check {
    display: block;
    position: relative;
    cursor: pointer;
}
.loginpop-remember-check .loginpop-remember-checkbox {
    width: 16px;
    border: 1px solid #fff;
}
.loginpop-remember-check .loginpop-remember-checked {
    background: url(../images/checked_bg.png) no-repeat left center;
}
.loginpop-remember-check input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}
.loginpop-form .loginpop-fogetpwd {
    display: block;
    color: #fff;
    margin-left: 70px;
    line-height: 16px;
}
.lrpop-form .lrpop-btn {
    width: 270px;
    height: 39px;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: #fff;
    background-color: #f00;
    cursor: pointer;
}
.loginpop-form .lrpop-input {
    margin-bottom: 27px;
}
.loginpop-form .lrpop-btn {
    margin-top: 27px;
}
.registerpop-form .lrpop-input {
    margin-bottom: 15px;
}
.lrpop-input input.lrpop-phone {
    width: 188px;
    background: url(../images/logrepop_phone.png) no-repeat 11px center;
}
.registerpop-form .registerpop-yzmbtn {
    display: block;
    width: 82px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    background-color: #fcdd32;
    cursor: pointer;
}
.lrpop-yzm {
    background: url(../images/logrepop_yzm.png) no-repeat 11px center;
}
.registerpop-form p {
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
}
.registerpop-form p a {
    color: #f00;
}
/*弹出层 end*/
.subcontainer {
    width: 63%;
    min-width: 1000px;
    margin: 0px auto;
    padding-top: 20px;
}
/*menu begin*/
.menu {
    width: 19.7%;
    min-width: 197px;
}
.menu-usermsg {
    width: 100%;
    padding-top: 8.5%;
    padding-bottom: 13.5%;
    margin-bottom: 4px;
    background-color: #686b8a;
}
.menu-usermsg .menu-userphoto {
    position: relative;
    width: 27.5%;
    margin-left: 5.5%;
    margin-right: 4px;
}
.menu-userphoto img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.menu-userphoto img.menu-userphotobg {
    position: relative;
}
.menu-userinfo {
    color: #fff;
}
.menu-userinfo span, .menu-userinfo a {
    display: block;
}
.menu-username {
    margin-bottom: 6px;
    font-size: 18px;
    overflow: hidden;
}
.menu-username span, .menu-username img {
    display: block;
    float: left;
}
.menu-username img {
    margin-top: 5px;
    margin-left: 2px;
}
.menu-userinfo a {
    width: 117px;
    height: 32px;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    background: url("../images/menu_vipbtn.png") no-repeat;
}
@media screen and (max-width: 1660px) {
    .menu-usermsg .menu-userphoto {
        width: 25%;
        margin-left: 5%;
    }
}
.menu-container {
    width: 100%;
    min-height: 280px;
    background-color: #232333;
}
.menu-container .menu-item {
    height: 40px;
    padding-left: 17.8%;
    line-height: 40px;
    font-size: 14px;
}
.menu-container .menu-item div {
    padding-left: 21.7%;
}
.menu-item div a {
    color: #7e83a6;
}
.menu-container .menu-active {
    background-color: #686b8a;
}
.menu-container .menu-active a {
    color: #fff;
}
.menu-history {
    background: url("../images/menu_icon_history.png") no-repeat left center;
}
.menu-active .menu-history {
    background: url("../images/menu_icon_history_active.png") no-repeat left center;
}
.menu-collect {
    background: url("../images/menu_icon_collect.png") no-repeat left center;
}
.menu-active .menu-collect {
    background: url("../images/menu_icon_collect_active.png") no-repeat left center;
}
.menu-message {
    background: url("../images/menu_icon_message.png") no-repeat left center;
}
.menu-active .menu-message {
    background: url("../images/menu_icon_message_active.png") no-repeat left center;
}
.menu-update {
    background: url("../images/menu_icon_update.png") no-repeat left center;
}
.menu-active .menu-update {
    background: url("../images/menu_icon_update_active.png") no-repeat left center;
}
.menu-video {
    background: url("../images/menu_icon_video.png") no-repeat left center;
}
.menu-active .menu-video {
    background: url("../images/menu_icon_video_active.png") no-repeat left center;
}
.menu-setting {
    background: url("../images/menu_icon_setting.png") no-repeat left center;
}
.menu-active .menu-setting {
    background: url("../images/menu_icon_setting_active.png") no-repeat left center;
}
.menu-vip {
    background: url("../images/menu_icon_vip.png") no-repeat left center;
}
.menu-active .menu-vip {
    background: url("../images/menu_icon_vip_active.png") no-repeat left center;
}
/*menu end*/
.submain {
    width: 78.9%;
    min-width: 798px;
    padding-bottom: 46px;
    background-color: #232333;
}
.submain-header {
    position: relative;
    width: 100%;
    height: 42px;
    border-bottom: 2px solid #7e83a6;
}
.submain-header h2 {
    width: 118px;
    height: 42px;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    color: #fff;
    background: url("../images/submain_title.png") no-repeat;
    float: left;
}
.submain-header-option {
    margin-right: 27px;
    padding-top: 9px;
}
.submain-header-deletebtn {
    display: block;
    width: 40px;
    height: 24px;
    margin-left: 17px;
    padding-left: 24px;
    font-size: 14px;
    line-height: 24px;
    color: #7e83a6;
    background: url("../images/submain_header_deletebtn.png") no-repeat;
    cursor: pointer;
}
.submain-header-check {
    display: block;
    position: relative;
    padding-top: 4px;
    cursor: pointer;
}
.submain-header-check span {
    display: block;
    height: 16px;
    margin-right: 7px;
    line-height: 16px;
    color: #7e83a6;
    float: left;
}
.submain-header-check .submain-header-checkbox {
    width: 16px;
    border: 1px solid #7e83a6;
}
.submain-header-check .submain-header-checked {
    background: url(../images/submain_header_checkedbg.png) no-repeat left center;
}
.submain-header-check input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}
.submain .subbox {
    width: 90.7%;
    min-width: 716px;
    margin: 0 auto;
}
/*分页 being*/
.vod_page {
    width: 478px;
    margin: 0 auto;
}
.vod_page ul {
    margin-left: -8px;
}
.vod_pageitem {
    width: 40px;
    height: 32px;
    margin-left: 8px;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color: #686b8a;
    border: 1px solid #686b8a;
    cursor: pointer;
    float: left;
}
.vod_pageitem_prev, .vod_pageitem_next {
    width: 83px;
}
.vod_pageitem_active {
    color: #fff;
    background-color: #686b8a;
    cursor: default;
}
/*分页 end*/
/*****************************************首页*****************************************/
/*最近精选being*/
.greatest {
    margin: 0px auto;
    margin-top: 3%;
}
.recentBVtitle {
    width: 409px;
    height: 56px;
    margin: 0px auto;
    background: url("../images/recentV.png") no-repeat;
}
.recentBVlist {
    width: 120%;
    height: 200px;
    padding-top: 1.5%;
    overflow-x: hidden;
}
.rblvideo {
    position: relative;
    width: 16.5%;
    height: 192px;
    text-align: center;
    background: grey;
}
.rblvideo:hover {
    width: 17.5%;
    height: 220px;
    margin-top: -19px;
}
.middleicon {
    position: absolute;
    margin: 0px auto;
    left: 40%;
    top: 40%;
    z-index: 89;
}
.upimg {
    z-index: 88;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.rblvideo:hover .upimg {
    display: inline;
}
/*最近精选end*/
/*indexlist begin*/
.mlists {
    width: 80%;
    margin: 0px auto;
    margin-top: 35px;
}
.catcont {
    margin-top: 15px;
}
.listtop {
    height: 32px;
}
.card_spade {
    width: 29px;
    height: 29px;
    background: url("../images/card_spade.png") no-repeat;
}
.cattitle {
    line-height: 34px;
    font-size: 20px;
    vertical-align: bottom;
    font-weight: 700;
    text-align: justify;
    padding-left: 6px;
}
.lsttopmore {
    width: 312px;
    height: 22px;
    margin-top: 10px;
    background: url("../images/listright.png") no-repeat;
}
.catcont .list {
}
.listrow {
    margin-top: 15px;
}
.index-playvideo {
    width: 19.5%;
    margin-left: 0.5%;
    height: 190px;
}
.videopic {
    height: 120px;
}
.videotext {
    color: white;
    font-size: 14px;
    margin-top: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.videotools {
    margin-top: 8px;
}
.goodrate {
    margin-left: 10px;
    overflow: hidden;
}
.goodrate img, .goodrate span {
    padding-right: 2px;
    float: left;
}
.card_heart {
    width: 29px;
    height: 29px;
    background: url("../images/card_heart.png") no-repeat;
}
.card_club {
    width: 29px;
    height: 29px;
    background: url("../images/card_club.png") no-repeat;
}
.card_diamond {
    width: 29px;
    height: 29px;
    background: url("../images/card_diamond.png") no-repeat;
}
/*indexlist end*/
.footerads {
    width: 80%;
    height: 218px;
    margin: 0px auto;
    margin-top: 35px;
}
.ml10 {
    margin-left: 0.5%;
}
.footerads ul {
    width: 100%;
    height: 218px;
    margin: 0px auto;
}
.footerads li {
    border: 2px solid red;
    width: 32.5%;
    height: 100%;
}
.footerads li img {
    display: block;
    width: 100%;
    height: 100%;
}
/*右侧浮动 begin*/
.rightmid {
    position: fixed;
    top: 30%;
    right: 25px;
    z-index: 89;
}
.logo {
    width: 94px;
    height: 104px;
    background-size: contain;
    background: url("../images/logo.png");
}
/*.lsttopleft{background: url(../images/listtopleft.png) no-repeat;width:490px;height:29px;}*/
.addfav { margin-left: 10px; }
/*****************************************播放影片*****************************************/
.playvideo {
    width: 77%;
    min-width: 1000px;
    margin: 0 auto;
}
.playvideo-left {
    width: 64.8%;
    margin-right: 1.5%;
}
.playvideo-left .playvideo-leftcon {
    margin-top: 26px;
    padding: 0.6%;
    border: 1px solid #33364b;
}
.playvideo-videobox, .playvideo-video {
    position: relative;
    width: 100%;
    height: 512px;
}
.jw-plugin {
    z-index: 99;
}
.playvideo-qxd {
    position: absolute;
    bottom: 45px;
    right: 20px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
    background: url("../images/playvideo_qxdbg.png") no-repeat;
    background-size: auto 100%;
    display: none;
}
.playvideo-qxd span {
    display: block;
    padding: 0 8px 0 19px;
    background: url("../images/playvideo_qxdicon.png") no-repeat 4px center;
}
.playvideo-hc {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000 url("../images/playvideo_hc.png") no-repeat center center;
}
.playvideo-ready {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000 url("../images/playvideo_play.png") no-repeat center center;
    cursor: pointer;
}
.playvideo-play {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 89px;
    height: 99px;
    margin-left: -44px;
    margin-top: -49px;
    background: url("../images/playvideo_play.png") no-repeat;
    cursor: pointer;
}
.playvideo-leftcon .playvideo-ad {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #232333;
}
.playvideo-adone {
    margin-bottom: 5px;
}
.playvideo-adone img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.playvideo-adone img.playvideo-adbg {
    position: relative;
}
.playvideo-leftcon .playvideo-videomsg {
    position: relative;
    margin-bottom: 5px;
    padding: 14px;
    background-color: #232333;
}
.playvideo-videomsg .playvideo-videotitle {
    font-size: 20px;
    margin-bottom: 15px;
}
.playvideo-videomsg .playvideo-jbyj {
    display: block;
    position: absolute;
    top: 14px;
    right: 20px;
    width: 66px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    color: #7e83a6;
    background: url("../images/playvideo_jbyj.png") no-repeat;
}
.playvideo-videomsg .playvideo-videomsg-box {
    position: relative;
    border-bottom: 1px solid #303244;
}
.playvideo-videomsg-box .playvideo-from {
    padding-bottom: 4px;
}
.playvideo-from .playvideo-from-icon {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
.playvideo-from .playvideo-from-txt {
    display: block;
    padding-top: 26px;
    padding-left: 9px;
    font-size: 18px;
    color: #4d516f;
}
.playvideo-videomsg-box .playvideo-view {
    position: absolute;
    right: 15px;
    top: 28px;
    font-size: 18px;
}
.playvideo-viewtop {
    padding-left: 35px;
    line-height: 32px;
    color: #4d516f;
    border-bottom: 1px solid #f00;
    background: url("../images/playvideo_view.png") no-repeat left center;
}
.playvideo-viewtop i {
    font-style: normal;
    color: #fff;
}
.playvideo-viewpercent {
    position: relative;
    width: 100%;
    padding-top: 6px;
}
.playvideo-viewpercent-line {
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    border-top: 1px solid #0f0;
}
.playvideo-viewpercent-num {
    display: block;
    padding-left: 19px;
    background: url("../images/playvideo_like.png") no-repeat;
    color: #fff;
}
.playvideo-videomsg .playvideo-btn {
    height: 19px;
    padding: 16px 0 2px 11px;
    line-height: 19px;
    font-size: 16px;
}
.playvideo-btn a {
    display: block;
    margin-right: 40px;
    color: #4d516f;
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
}
.playvideo-like {
    padding-left: 19px;
    background-image: url("../images/playvideo_like.png");
}
.playvideo-hate {
    padding-left: 19px;
    background-image: url("../images/playvideo_hate.png");
}
.playvideo-hate {
    padding-left: 19px;
    background-image: url("../images/playvideo_hate.png");
}
.playvideo-share {
    padding-left: 23px;
    background-image: url("../images/playvideo_share.png");
}
.playvideo-down {
    padding-left: 23px;
    background-image: url("../images/playvideo_down.png");
}
.playvideo-collect {
    padding-left: 25px;
    background-image: url("../images/playvideo_add.png");
}
.playvideo-videosj {
    height: 36px;
    padding: 0 23px;
    font-size: 16px;
    line-height: 36px;
    color: #4d516f;
    background-color: #232333;
    overflow: hidden;
}
.playvideo-videotype span {
    color: #fff;
}
.playvideo-list h2 {
    width: 100%;
    height: 36px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    text-indent: 13px;
    background-color: #232333;
}
.playvideo-listbox {
    min-width: 628px;
    margin-left: 2.5%;
}
.playvideo-listbox li {
    position: relative;
    width: 28.5%;
    min-width: 210px;
    margin-left: 2.8%;
    margin-bottom: 14px;
    float: left;
}
.playvideo-listbox li img {
    display: block;
    width: 100%;
    height: auto;
}
.playvideo-listbox li .playvideo-listbg {
    margin-bottom: 13px;
}
.playvideo-listbox li .playvideo-list-imgbox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*width: 265px;*/
    /*height: 155px;*/
    width: 100%;
}
.playvideo-list-imgbox .playvideo-list-tips {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 105px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    background-color: #f00;
}
.playvideo-listbox li .playvideo-list-txtbox {
    width: 100%;
    font-size: 16px;
    color: #fff;
}
.playvideo-list-txtbox i {
    color: #7e83a6;
}
@media screen and (max-width: 1670px) {
    .playvideo-listbox li .playvideo-list-txtbox {
        font-size: 14px;
    }
}
.playvideo-right {
    width: 31.2%;
    margin-top: 25px;
    padding: 12px 15px 0 0;
    border: 1px solid #33364b;
}
.playvideo-right .playvideo-ad {
    width: 100%;
    margin-bottom: 15px;
}
.playvideo-right .playvideo-ad a {
    display: block;
    width: 100%;
}
.playvideo-ad a img {
    display: block;
    width: 100%;
    height: auto;
}
/*****************************************播放记录*****************************************/
.historymain, .collectmain {
    padding-top: 33px;
}
.historybox, .collectbox {
    width: 100%;
}
.history-time {
    width: 77px;
    height: 32px;
    margin-bottom: 13px;
    padding-left: 15px;
    background: url("../images/history_timebg.png");
}
.history-time span {
    display: block;
    height: 32px;
    padding-left: 25px;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    background: url("../images/history_time.png") no-repeat left center;
}
.history-list,.collect-tab-list {
    margin-bottom: 1.8%;
}
.history-list ul,.collect-tab-list ul {
    margin-left: -3%;
}
.history-list .history-listitem,.collect-tab-list .collect-listitem {
    position: relative;
    width: 30.3%;
    min-width: 221px;
    margin-left: 3%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    background-color: #33364b;
}
.history-listitem .history-list-imgbox,.collect-listitem  .collect-list-imgbox{
    display: block;
    position: relative;
    width: 100%;
}
.history-list-imgbox img,.collect-list-imgbox img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.history-list-imgbox img.history-list-imgbg,.collect-list-imgbox img.collect-list-imgbg {
    position: relative;
}
.history-list-imgbox .history-sc {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 66px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    background-color: #f56f0f;
}
.history-list-txtbox,.collect-list-txtbox {
    width: 95%;
    margin: 0 auto;
    padding-top: 3%;
}
.history-list-txtbox a,.collect-list-txtbox a {
    display: block;
    margin-bottom: 4%;
    font-size: 16px;
    color: #fff;
}
.history-list-txtbox .history-viewmin {
    display: block;
    margin-left: 8px;
    padding-left: 21px;
    font-size: 14px;
    color: #7e83a6;
    background: url("../images/history_viewmin.png") no-repeat left center;
}
@media screen and (max-width: 1660px) {
    .history-list-txtbox a {
        font-size: 14px;
    }
    .history-list-txtbox .history-viewmin {
        font-size: 12px;
    }
}
/*****************************************我的收藏*****************************************/
.collect{
    min-height: 810px;
}
.collect-tab-title{
    width: 317px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 30px;
    color: #7e83a6;
    border: 1px solid #7e83a6;
    border-radius: 3px;
}
.collect-tab-title span{
    display: block;
    width: 105px;
    text-align: center;
    border-left: 1px solid #7e83a6;
    float: left;
    cursor: pointer;
}
.collect-tab-title span:first-child{
    border-left: 0;
}
.collect-tab-titleactive{
    color: #fff;
    background-color: #7e83a6;
}
.collect-tab-list {
    display: none;
}
.collect-tab-list:first-child {
    display: block;
}
.collect-listitem .collect-list-tips{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 105px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    background-color: #ff0000;
    z-index: 10;
}
.collect-list-txtbox a{
    margin-bottom: 0;
}
.collect-tab-list .collect-listitem {
    margin-bottom: 5%;
    padding-bottom: 0;
    background-color: #232333;
}
@media screen and (max-width: 1660px) {
    .collect-list-txtbox a {
        font-size: 14px;
    }
}
/*****************************************上传视频*****************************************/
.updatemain{
    width: 100%;
    padding-top: 54px;
}
.updatebox{
    height: 43.5%;
    border: 1px dashed #7e83a6;
}